<!-- Footer,, dito lahat ng links, credentials and such na pwede nilang icontact, me thinks na dapat din ilagay
    yung opthal or doctor na pinagtanungan natin-->
    <div>
        <footer class="text-center text-lg-start footer-custom">
            <section class="team section-padding" id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center pb-3">
                                <h2>Our Team</h2>
                                <p>For assistance or discussion feel free to contact us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <img src=" " alt="" class="img-fluid rounded-circle">
                                    <h3 class="card-title py-2">Leah Oseo</h3>
                                    <p class="card-text">mlaoseo@tip.edu.ph</p>
    
    
                                    <p class="socials">
                                        <i class="bi bi-envelope-at text-dark mx-1 icon_footer"></i>
                                        <i class="bi bi-linkedin text-dark mx-1 icon_footer"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <img src=" " alt="" class="img-fluid rounded-circle">
                                    <h3 class="card-title py-2">Alex San Jose</h3>
                                    <p class="card-text">maesanjose@tip.edu.ph</p>
                                    <p class="socials">
                                        <i class="bi bi-envelope-at text-dark mx-1 icon_footer"></i>
                                        <i class="bi bi-linkedin text-dark mx-1 icon_footer"></i> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <img src=" " alt="" class="img-fluid rounded-circle">
                                    <h3 class="card-title py-2">Allana Ubaldo</h3>
                                    <p class="card-text">magrubaldo@tip.edu.ph</p>
                                    <p class="socials">
                                        <i class="bi bi-envelope-at text-dark mx-1 icon_footer"></i>
                                        <i class="bi bi-linkedin text-dark mx-1 icon_footer"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <img src=" " alt="" class="img-fluid rounded-circle">
                                    <h3 class="card-title py-2">EyeDaptify</h3>
                                    <p class="card-text"><small>soundsendofficial@gmail.com</small></p>
                                    <p class="socials">
                                        <i class="bi bi-envelope-at text-dark mx-1 icon_footer"></i>
                                        <a href="https://github.com/aalyaanna/VSMP"><i
                                                class="bi bi-github text-dark mx-1 icon_footer"></i></a>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <div class="text-center p-3 copyright-custom">
                © 2023 Copyright: EyeDaptify Official Website
            </div>
        </footer>
    </div>
    