/* lahat ng nasa footer.ejs na design andito */

.footer-custom {
    background-color: #fef9f3;
    color: black;
    font-size: larger;
}

.footer-custom i {
    color: #fef9f3;
}

.copyright-custom {
    background-color: #fca311;
    color: black;
}

.footer-title {
    font-weight: bolder;
}